.outer{
border:2px solid #0063D2;
	border-radius:5px;
}
.thumbnail{
	border:2px solid #0063D2;
	border-radius:5px;	
	width:100%;
	float:left;
}
.inner3, .inner3AUC {
	border:2px solid #0063D2;
	border-radius:5px;	
	
	float:right;
	
}
.outer{width:80%;
}
.cef-content{
	width:90%;
	background-color:white;
	height:900px;
	overflow:hidden;
	border:2px solid #0063D2;
	border-radius:5px;
	margin-left:60px;
}
.srBox, .srBoxAUC{
	float:center;
	width:120%;
	margin-left:10px;
	
}
