.outer{
border:2px solid #0063D2;
	border-radius:5px;
}
.thumbnail{
	border:2px solid #0063D2;
	border-radius:5px;	
	width:100%;
	float:left;
}
.inner3, .inner3AUC {
	border:2px solid #0063D2;
	border-radius:5px;	
	width:80%;
	float:right;
	
}
.inner{width:100%;
}
.watch-content{
	width:95%;
	background-color:white;
	height:650px;
	overflow:hidden;
	border:2px solid #0063D2;
	border-radius:5px;
	margin-left:30px;
}
